*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /* height: 100px; */
    /* width: 100px; */
    margin-top: 70px;
    background-color: white;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    border: 1px solid black;
    border-radius: 16px;
    background-color: black;
}

input{
    background: transparent;
    border: none;
}

input::placeholder{
    font-size: 40px;
    text-align: right;
}