body{
    background-color: black;
}

table{
    display: inline-block;
    text-align: center;
}

th{
    padding: 10px;
    /* background-color: black; */
    color: white;
}

td{
    padding: 10px;
    /* background-color: blue; */
    color: white;
}